*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.class
*.log
*.lock

#Package FIles
*.jar
*.war
*.ear
target/

# idea
.idea/
*.iml

###STS###
.apt_generated
.factorypath
.springBeans

###Intelli]IDEA###
*.iml
*.ipr
*.iWs
.idea
classpath
.project
.settings/
bin/

*.log
tmp/
#rebel
*rebel.xml*